/* Reset some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* Header */
header {
    background: #131921;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo img {
    width: 120px;
}

/* Search box */
.search-box {
    flex:1 ;
    display: flex;
    margin: 0 20px;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

.search-box button {
    background: #febd69;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

/* Right navigation */
.nav-right {
    display: flex;
    gap: 15px;
}

.nav-option {
    text-align: center;
    cursor: pointer;
}

.nav-option span {
    font-size: 12px;
}

.nav-option b {
    font-size: 14px;
}
/* Cart */
.cart {
    display: flex;
    align-items: center;
    gap: 6px;

}

/* Products grid */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 14px;
    margin: 8px 0;
    color: #111;
}

.product-price {
    font-weight: bold;
    color: #b12704;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #232f3e;
    color: white;
    font-size: 14px;
}